@charset "utf-8";
/* CSS Document */

.logoadm {
	margin-top: 10px;
}
.loginform {
	width: 420px;
	height: auto;
	text-align:center;
	margin: 20px;
	padding: 20px;
}
.botenter {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: #FFF;
	background-image: linear-gradient(to bottom,  #009,#006);
	border-radius: 5px;
}
.botenter:hover {
	background-image: linear-gradient(to bottom,  #009,#00C);
	color: #FF0;
}
