@charset "utf-8";
/* CSS Document */

.papelaria {
	margin-op:60px;
	left:0;
	right:0;
    z-index: 20;
    background: #fff;
    position: absolute;
}

.papelaria li {
    display: inline;
    padding-right: 1em;
}
  
.papelaria a {
    background:#339999;
    padding: 5px 10px;
    border-radius: 3px;
    color:#FFF;
    font-weight: bold;
    text-decoration: none;
}
.papelaria a:hover{
    background: #339999;
}

 .slideshow {
	 margin:auto;
    position: relative;
    height: 333px;
    width: 500px;
  	overflow: hidden;
  }
 .target {
  top: 160px;
  height: 333px;
  width: 500px;
  overflow: hidden;
 }
  .target:target {
	left:-100px;
 }

